@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
  border-top-color: #3b82f6;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
